<ion-view view-title="Board">
  <ion-content>

    <div class="row">
      <div class="col">
        <div class="item item-avatar">
          <img src="../img/stap-3.png">
          <h2>Number of step</h2>
          <h1>15532</h1>
        </div>
      </div>
      <div class="col">
        <div class="item item-avatar">
          <img src="../img/Location_Icon.png">
          <h2>Distance</h2>
          <h1>8.6 km</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="item item-avatar">
          <img src="../img/Activ_Dog.png">
          <h2>Activity</h2>
          <h1>01:25</h1>

        </div>
      </div>
      <div class="col">
        <div class="item item-avatar">
          <img src="../img/Rest_Dog.png">
          <h2>Rest</h2>
          <h1>08:02</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="item item-avatar">
          <img src="../img/Play_Dog.png">
          <h2>Play</h2>
          <h1>02:16</h1>
        </div>
      </div>
      <div class="col">
        <div class="item item-avatar">
          <img src="avatar.jpg">
          <h2>Something</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="item item-avatar">
          <img src="avatar.jpg">
          <h2>Point</h2>
          <h1>5300</h1>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>


